{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "widgets/lists.html" import unorderedList %}

{% set title = "" %}

{% block form_content %}
    {% set panelContentHtml %}
        <p class="govuk-body">{{ content.paragraph1 | safe }}</p>
        <p class="govuk-body">{{ content.paragraph2 | safe }}</p>
    {% endset -%}

    {{ govukPanel({
        titleText: content.question | safe,
        html: panelContentHtml
    }) }}

    <p class="govuk-body">{{ content.paragraph3 | safe }}</p>
    <p class="govuk-body">{{ content.paragraph4 | safe }}</p>

    <ul class="govuk-form-group">
        <li>
            {{ govukButton({
                text: common.continueToQuestions | safe,
                preventDoubleClick: true
            }) }}
        </li>
        <li>
            {% if fields.returnUrl.value %}
                {{ govukButton({
                    text: common.dontWantToAnswer | safe,
                    classes: "govuk-button--secondary",
                    href: fields.returnUrl.value
                }) }}
            {% endif %}
        </li>
    </ul>
{% endblock %}

{% block why_asking %}{% endblock %}
