{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set noDetailsHtml %}
    {{ govukInput({
        name: "gender_other",
        id: "gender_other",
        label: {
            text: content["optionNoDetails"] | safe
        },
        value: fields.gender_other.value | safe
    }) }}
{% endset -%}

{% block form_content %}
    {{ govukRadios({
        idPrefix: "gender_different",
        name: "gender_different",
        fieldset: {
            legend: {
                text: content.question | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.gender_different.errorMessage.message | safe } if fields.gender_different.errorMessage,
        items: [
            {
                value: '1',
                text: content["optionYes"] | safe,
                checked: true if fields.gender_different.value == '1'
            },
            {
                value: '2',
                text: content["optionNo"] | safe,
                checked: true if fields.gender_different.value == '2',
                conditional: {
                    html: noDetailsHtml
                }
            },
            {
                divider: common["or"] | safe
            },
            {
                value: '0',
                text: common["optionPreferNotToSay"] | safe,
                checked: true if fields.gender_different.value == '0'
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.continue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
