{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {{ govukRadios({
        idPrefix: "healthConditionsImplications",
        name: "healthConditionsImplications",
        fieldset: {
            legend: {
                text: content.question | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.healthConditionsImplications.errorMessage.message | safe } if fields.healthConditionsImplications.errorMessage,
        items: [
            {
                value: "optionYesLot",
                text: content["optionYesLot"] | safe,
                checked: true if fields.healthConditionsImplications.value == "optionYesLot"
            },
            {
                value: "optionYesLittle",
                text: content["optionYesLittle"] | safe,
                checked: true if fields.healthConditionsImplications.value == "optionYesLittle"
            },
            {
                value: "optionNo",
                text: content["optionNo"] | safe,
                checked: true if fields.healthConditionsImplications.value == "optionNo"
            },
            {
                divider: common["or"] | safe
            },
            {
                value: "optionPreferNotToSay",
                text: common["optionPreferNotToSay"] | safe,
                checked: true if fields.healthConditionsImplications.value == "optionPreferNotToSay"
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.continue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
