{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set otherDetailsHtml %}
    {{ govukInput({
        name: "religion_other",
        id: "religion_other",
        label: {
            text: content["optionOtherDetails"] | safe
        },
        value: fields.religion_other.value | safe
    }) }}
{% endset -%}

{% block form_content %}
    {{ govukRadios({
        idPrefix: "religion",
        name: "religion",
        fieldset: {
            legend: {
                text: content.question | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.religion.errorMessage.message | safe } if fields.religion.errorMessage,
        items: [
            {
                value: '1',
                text: content["optionNoReligion"] | safe,
                checked: true if fields.religion.value == '1'
            },
            {
                value: '2',
                text: content["optionChristian"] | safe,
                checked: true if fields.religion.value == '2'
            },
            {
                value: '3',
                text: content["optionBuddhist"] | safe,
                checked: true if fields.religion.value == '3'
            },
            {
                value: '4',
                text: content["optionHindu"] | safe,
                checked: true if fields.religion.value == '4'
            },
            {
                value: '5',
                text: content["optionJewish"] | safe,
                checked: true if fields.religion.value == '5'
            },
            {
                value: '6',
                text: content["optionMuslim"] | safe,
                checked: true if fields.religion.value == '6'
            },
            {
                value: '7',
                text: content["optionSikh"] | safe,
                checked: true if fields.religion.value == '7'
            },
            {
                value: '8',
                text: content["optionOther"] | safe,
                checked: true if fields.religion.value == '8',
                conditional: {
                    html: otherDetailsHtml
                }
            },
            {
                divider: common["or"] | safe
            },
            {
                value: '0',
                text: common["optionPreferNotToSay"] | safe,
                checked: true if fields.religion.value == '0'
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.continue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
