{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {{ govukRadios({
        idPrefix: "ethnic_group",
        name: "ethnic_group",
        fieldset: {
            legend: {
                text: content.question | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.ethnic_group.errorMessage.message | safe } if fields.ethnic_group.errorMessage,
        items: [
            {
                value: '1',
                text: content["optionWhite"] | safe,
                hint: {
                    text: content["optionWhiteHint"] | safe
                },
                checked: true if fields.ethnic_group.value == '1'
            },
            {
                value: '2',
                text: content["optionMixed"] | safe,
                hint: {
                    text: content["optionMixedHint"] | safe
                },
                checked: true if fields.ethnic_group.value == '2'
            },
            {
                value: '3',
                text: content["optionAsian"] | safe,
                hint: {
                    text: content["optionAsianHint"] | safe
                },
                checked: true if fields.ethnic_group.value == '3'
            },
            {
                value: '4',
                text: content["optionBlack"] | safe,
                hint: {
                    text: content["optionBlackHint"] | safe
                },
                checked: true if fields.ethnic_group.value == '4'
            },
            {
                value: '5',
                text: content["optionOther"] | safe,
                hint: {
                    text: content["optionOtherHint"] | safe
                },
                checked: true if fields.ethnic_group.value == '5'
            },
            {
                divider: common["or"] | safe
            },
            {
                value: '0',
                text: common["optionPreferNotToSay"] | safe,
                checked: true if fields.ethnic_group.value == '0'
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.continue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
