{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {{ govukRadios({
        idPrefix: "disability_impact",
        name: "disability_impact",
        fieldset: {
            legend: {
                text: content.question | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.disability_impact.errorMessage.message | safe } if fields.disability_impact.errorMessage,
        items: [
            {
                value: 1,
                text: content["optionYesLot"] | safe,
                checked: true if fields.disability_impact.value == 1
            },
            {
                value: 2,
                text: content["optionYesLittle"] | safe,
                checked: true if fields.disability_impact.value == 2
            },
            {
                value: 3,
                text: content["optionNo"] | safe,
                checked: true if fields.disability_impact.value == 3
            },
            {
                divider: common["or"] | safe
            },
            {
                value: 0,
                text: common["optionPreferNotToSay"] | safe,
                checked: true if fields.disability_impact.value == 0
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.continue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
