{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set otherDetailsHtml %}
    {{ govukInput({
        name: "otherDetails",
        id: "otherDetails",
        label: {
            text: content["optionOtherDetails"] | safe
        },
        value: fields.otherDetails.value | safe
    }) }}
{% endset -%}

{% block form_content %}
    {{ govukRadios({
        idPrefix: "sexualOrientation",
        name: "sexualOrientation",
        fieldset: {
            legend: {
                text: content.question | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.sexualOrientation.errorMessage.message | safe } if fields.sexualOrientation.errorMessage,
        items: [
            {
                value: 1,
                text: content["optionHeterosexual"] | safe,
                checked: true if fields.sexualOrientation.value == 1
            },
            {
                value: 2,
                text: content["optionGayLesbian"] | safe,
                checked: true if fields.sexualOrientation.value == 2
            },
            {
                value: 3,
                text: content["optionBisexual"] | safe,
                checked: true if fields.sexualOrientation.value == 3
            },
            {
                value: 4,
                text: content["optionOther"] | safe,
                checked: true if fields.sexualOrientation.value == 4,
                conditional: {
                    html: otherDetailsHtml
                }
            },
            {
                divider: common["or"] | safe
            },
            {
                value: 0,
                text: common["optionPreferNotToSay"] | safe,
                checked: true if fields.sexualOrientation.value == 0
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.continue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
