{% extends "includes/layout.html" %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "widgets/lists.html" import unorderedList %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ content.heading1 | safe }}</h1>
            <p class="govuk-body">{{ content.paragraph1 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph2 | safe }}</p>
            {{ unorderedList([content["list1-item1"], content["list1-item2"], content["list1-item3"], content["list1-item4"], content["list1-item5"]]) }}
            <p class="govuk-body">{{ content.paragraph3 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph4 | replace("{myAbilityLink}", globals.links.myAbilityLink) | safe }}</p>

            <h2 class="govuk-heading-m">{{ content.heading2 | safe }}</h2>
            <p class="govuk-body">{{ content.paragraph5 | safe }}</p>

            <h2 class="govuk-heading-m">{{ content.heading3 | safe }}</h2>
            <p class="govuk-body">{{ content.paragraph6 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph7 | safe }}</p>
            <h3 class="govuk-body">{{ content.paragraph8 | safe }}</h3>
            {{ unorderedList([
                content["list2-cmc"], content["list2-divorce"], content["list2-probate"], content["list2-sscs"]
            ]) }}
            <p class="govuk-body">{{ content.paragraph9 | replace("{helpLineHours}", common.helplineHours) | replace("{callChargesLink}", globals.links.callCharges) | safe }}</p>
            <p class="govuk-body">{{ content.paragraph10 | safe }}</p>

            <h2 class="govuk-heading-m">{{ content.heading4 | safe }}</h2>
            <p class="govuk-body">{{ content.paragraph11 | safe }}</p>
            <h3 class="govuk-body">{{ content.paragraph8 | safe }}</h3>
            {{ unorderedList([
                content["list2-cmc"], content["list2-divorce"], content["list2-probate"], content["list2-sscs"]
            ]) }}
            <p class="govuk-body">{{ content.paragraph9 | replace("{helpLineHours}", common.helplineHours)  | replace("{callChargesLink}", globals.links.callCharges) | safe }}</p>
            <p class="govuk-body">{{ content.paragraph10 | safe }}</p>

            <h2 class="govuk-heading-m">{{ content.heading5 | safe }}</h2>
            <p class="govuk-body">{{ content.paragraph12 | replace("{equalityAdvisorLink}", globals.links.equalityAdvisorLink) | safe }}</p>

            <h2 class="govuk-heading-m">{{ content.heading6 | safe }}</h2>
            <p class="govuk-body">{{ content.paragraph13 | safe }}</p>

            <h2 class="govuk-heading-m">{{ content.heading7 | safe }}</h2>
            <p class="govuk-body">{{ content.paragraph14 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph15 | replace("{wcag21Link}", globals.links.wcag21Link) | safe }}</p>

            <h2 class="govuk-heading-m">{{ content.heading8 | safe }}</h2>
            <p class="govuk-body">{{ content.paragraph16 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph17 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph18 | safe }}</p>

            <h2 class="govuk-heading-m">{{ content.heading9 | safe }}</h2>
            <p class="govuk-body">{{ content.paragraph19 | safe }}</p>
        </div>
    </div>
{% endblock %}
