{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {{ govukRadios({
        idPrefix: "ethnicGroupBlack",
        name: "ethnicGroupBlack",
        fieldset: {
            legend: {
                text: content.question | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.ethnicGroupBlack.errorMessage.message | safe } if fields.ethnicGroupBlack.errorMessage,
        items: [
            {
                value: "optionAfrican",
                text: content["optionAfrican"] | safe,
                checked: true if fields.ethnicGroupBlack.value == "optionAfrican"
            },
            {
                value: "optionCaribbean",
                text: content["optionCaribbean"] | safe,
                checked: true if fields.ethnicGroupBlack.value == "optionCaribbean"
            },
            {
                value: "optionOther",
                text: content["optionOther"] | safe,
                checked: true if fields.ethnicGroupBlack.value == "optionOther"
            },
            {
                divider: common["or"] | safe
            },
            {
                value: "optionPreferNotToSay",
                text: common["optionPreferNotToSay"] | safe,
                checked: true if fields.ethnicGroupBlack.value == "optionPreferNotToSay"
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.continue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
