{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set otherDetailsHtml %}
    {{ govukTextarea({
        name: "disability_other_details",
        id: "disability_other_details",
        label: {
            text: content["optionOtherDetails"] | safe
        },
        value: fields.disability_other_details.value | safe
    }) }}
{% endset -%}

{% block form_content %}
    {{ govukCheckboxes({
        idPrefix: "disabilityImplicationsAreas",
        name: "disabilityImplicationsAreas",
        fieldset: {
            legend: {
                text: content.question | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: content.questionHint | safe
        },
        errorMessage: { text: fields.disabilityImplicationsAreas.errorMessage.message | safe } if fields.disabilityImplicationsAreas.errorMessage,
        items: [
            {
                value: "disability_vision",
                text: content["optionVision"] | safe,
                hint: {
                    text: content["optionVisionHint"] | safe
                },
                attributes: {
                    "data-mutually-exclusive": "js-select-choice"
                },
                checked: true if fields.disability_vision.value == '1'
            },
            {
                value: "disability_hearing",
                text: content["optionHearing"] | safe,
                hint: {
                    text: content["optionHearingHint"] | safe
                },
                attributes: {
                    "data-mutually-exclusive": "js-select-choice"
                },
                checked: true if fields.disability_hearing.value == '1'
            },
            {
                value: "disability_mobility",
                text: content["optionMobility"] | safe,
                hint: {
                    text: content["optionMobilityHint"] | safe
                },
                attributes: {
                    "data-mutually-exclusive": "js-select-choice"
                },
                checked: true if fields.disability_mobility.value == '1'
            },
            {
                value: "disability_dexterity",
                text: content["optionDexterity"] | safe,
                hint: {
                    text: content["optionDexterityHint"] | safe
                },
                attributes: {
                    "data-mutually-exclusive": "js-select-choice"
                },
                checked: true if fields.disability_dexterity.value == '1'
            },
            {
                value: "disability_learning",
                text: content["optionLearning"] | safe,
                attributes: {
                    "data-mutually-exclusive": "js-select-choice"
                },
                checked: true if fields.disability_learning.value == '1'
            },
            {
                value: "disability_memory",
                text: content["optionMemory"] | safe,
                attributes: {
                    "data-mutually-exclusive": "js-select-choice"
                },
                checked: true if fields.disability_memory.value == '1'
            },
            {
                value: "disability_mental_health",
                text: content["optionMentalHealth"] | safe,
                attributes: {
                    "data-mutually-exclusive": "js-select-choice"
                },
                checked: true if fields.disability_mental_health.value == '1'
            },
            {
                value: "disability_stamina",
                text: content["optionStamina"] | safe,
                attributes: {
                    "data-mutually-exclusive": "js-select-choice"
                },
                checked: true if fields.disability_stamina.value == '1'
            },
            {
                value: "disability_social",
                text: content["optionSocially"] | safe,
                hint: {
                    text: content["optionSociallyHint"] | safe
                },
                attributes: {
                    "data-mutually-exclusive": "js-select-choice"
                },
                checked: true if fields.disability_social.value == '1'
            },
            {
                value: "disability_other",
                text: content["optionOther"] | safe,
                attributes: {
                    "data-mutually-exclusive": "js-select-choice"
                },
                checked: true if fields.disability_other.value == '1',
                conditional: {
                    html: otherDetailsHtml
                }
            },
            {
                value: "disability_none",
                text: content["optionNone"] | safe,
                attributes: {
                    "data-mutually-exclusive": "js-deselect-choice"
                },
                checked: true if fields.disability_none.value == '1'
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.continue | safe,
            preventDoubleClick: true
        }) }}
    </div>

    <script src="{{ globals.basePath }}/public/javascripts/mutually-exclusive-checkboxes.js"></script>
{% endblock %}
