{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% if errors %}
        {% set inlineErrors = {
            text:
            (
            (fields["dob"].errorMessage.message + "<br>" if fields["dob"].errorMessage) +
            (fields["dob-day"].errorMessage.message + "<br>" if fields["dob-day"].errorMessage) +
            (fields["dob-month"].errorMessage.message + "<br>" if fields["dob-month"].errorMessage) +
            (fields["dob-year"].errorMessage.message + "<br>" if fields["dob-year"].errorMessage)
            ) | safe
        } %}
    {% endif %}

    {% set dateOfBirthHtml %}
        {{ govukDateInput({
            id: "dob",
            namePrefix: "dob",
            hint: {
                text: content["enterDateHint"] | safe
            },
            errorMessage: inlineErrors,
            items: [
                {
                    classes: "govuk-input--width-2" + (" govuk-input--error" if fields["dob-day"].error or fields["dob"].error),
                    name: "day",
                    value: fields["dob-day"].value | safe
                },
                {
                    classes: "govuk-input--width-2" + (" govuk-input--error" if fields["dob-month"].error or fields["dob"].error),
                    name: "month",
                    value: fields["dob-month"].value | safe
                },
                {
                    classes: "govuk-input--width-4" + (" govuk-input--error" if fields["dob-year"].error or fields["dob"].error),
                    name: "year",
                    value: fields["dob-year"].value | safe
                }
            ]
        }) }}
    {% endset -%}

    {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "dob_provided",
        name: "dob_provided",
        fieldset: {
            legend: {
                text: content.question | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.dob_provided.errorMessage.message | safe } if fields.provideDateOfBirth.errorMessage,
        items: [
            {
                value: '1',
                text: content["optionEnterDate"],
                checked: true if fields.dob_provided.value == '1',
                conditional: {
                html: dateOfBirthHtml
            }
            },
            {
                divider: common["or"] | safe
            },
            {
                value: '0',
                text: common["optionPreferNotToSay"],
                checked: true if fields.dob_provided.value == '0'
            }
        ]
    }) }}

    {{ fields | dump | safe }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.continue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
